html body {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Montserrat', sans-serif;
	color: #2d2d2d;
	background-color: #fff;
	font-size: 16px;
}

.container {
	margin: 0 auto;
}

/* Mobile First */
/* Header */
.header {
	font-family: 'Indie Flower';
	height: auto;
	min-width: 300px;
	margin: 0 auto;
}

.header h1 {
	font-size: 2rem;
	text-align: center;
	margin: 50px 0 50px 0;
}


/* Main Section */
.main {
	height: auto;
	margin: 0 auto;
}

.main .row {
	max-height: 300px;
	min-width: 300px;
	max-width: 800px;
	margin: 0 auto;
	overflow: hidden;
	margin-top: 3px;
}

.main .row img {
	display: block;
	height: auto;
	width: 100%;
	padding: 3px;
}

/* Info Section */
.info {
	background-color: #E4EBF4;
	margin-top: 50px;
	font-family: 'Indie Flower';
	min-width: 300px;
}

.info .container {
	min-width: 300px;
	max-width: 800px;
}

.info h2 {
	padding: 50px 0 10px 0;
	font-size: 2rem;
}

.info h4 {
	padding: 0px 0 50px 0;
	font-size: 1.5rem;
}

/* Footer */
.footer {
	background-color: #fff;
	margin-top: -10px;
	min-width: 300px;
}

.footer .container {
	min-width: 300px;
	max-width: 800px;
}

.footer h6 {
	color: #2d2d2d;
	padding: 10px 0 10px 0;
}



 /* MEDIA QUERIES */

/*
Extra small devices (portrait phones, less than 400px)
No media query since this is the default in Bootstrap because it is "mobile first"
*/

/*
::::::::::::::::::::::::::::::::::::::::::::::::::::
Bootstrap breakpoints


/* Extra Small devices (up to 319px) */
@media only screen and (max-width: 319px) {
	.header h1 {
		font-size: 1.75rem;
	}

}

	/* Main_Scan Section
	.main_scan {
		height: 595px;
	}

	.main_scan img {
		margin-top: 25px;
		margin-bottom: 25px;
	}

	/* Small devices (760px up to 999px)
	@media only screen and (min-width: 760px) {
		.header h1 {
			font-size: 2.4rem;
		}

		/* Main_Scan Section
		.main_scan {
			height: 880px;
		}

		.main_scan img {
			margin-top: 80px;
			margin-bottom: 80px;
		}




	/* Tablet devices (1000px and up)
	@media only screen and (min-width: 1000px) {
		.header h1 {
			font-size: 2.5rem;
		}

		/* Main_Scan Section
		.main_scan {
			height: 625px;
		}

		.main_scan img {
			margin-top: 35px;
			margin-bottom: 35px;
		}


}

/* Large devices (large desktops, 1200px and up)
@media only screen and (min-width: 1200px) {
	.header h1 {
		font-size: 2.5rem;
	}

	/* Main_Scan Section
	.main_scan {
		height: 780px;
	}

	.main_scan img {
		margin-top: 80px;
		margin-bottom: 80px;
	}
}

*/
